#contact iframe
{
    width: 100%;
}
.travel_maindiv
{
    border:1px solid blueviolet;
}
.travel_maindiv img
{
    width:100%;
}
.travel_maindiv h5,.travel_maindiv p
{
    margin:20px;
}
.movie_header i
{
   float:right;
}
.movie_header
{
    font-size: 20px;
    padding: 6px 22px; 
    border-radius: 10px;
    margin:auto;
}
.books
{
    margin-bottom:20px;
}
#contact iframe
{
    width:100%;
}